/**
 * @name         Customizable Theme
 * @description  Adjust Settings With Custom CSS. Transparency Must Be On To Work Properly. Check website for updates.
 * @author       kasquer
 * @version      2.0.0 |
 * @website      https://kazquer.github.io/
 */


/*Main Setup*/
body, .appMount_ea7e65,
.bg_d4b6c5,
.guilds_a4d4d9, /*Channels in Server Background*/
.app_a01fb1, 
.sidebar_a4d4d9,
.container_ee69e0,
.channelTextArea_a7d72e, /*Chat Text Box Background*/
.panels_a4d4d9,
.container_adcaac, /*Voice Call Options Above Profile*/
.container_b2ca13, /*Always Visible Mini Profile*/
.chat_a7d72e,
.chatContent_a7d72e, /*Main Chat Background*/
.title_a7d72e, /*Main Chat Header / Title*/
.container_cbd271, /*In Server Overall User Background*/
.members_cbd271, /*In Server Overall User Background*/ 
.privateChannels_f0963d,
.scrollerBase_eed6a8, /*Friends List Above Mini Profile*/
.folderIconWrapper_bc7085,
.folder_bc7085,
.wrapper_ef319f,
.emojiPicker_c6ee36,
.wrapper_e06857,
.header_c6ee36,
.wrapper_ba23fe,
.hljs,
.member_a31c43,
.wrapper_bf1b19,
.theme-dark .panel_bf1a22,
.theme-dark,
.userProfileInnerThemedWithBanner_c69a7b,
.userPanelInnerThemed_c69a7b,
.userProfileInner_c69a7b:before,
.root_f9a4c9,
.wrapper_cdfd51,
.cozy_b211c6.wrapper_b211c6,
.backdrop_e4f2ae,
.container_b558d0>*,
.footer_f9a4c9,
.userProfileInnerThemedNonPremium_c69a7b,
.option_b0286e:hover:after,
.option_b0286e:after,
.container_c2739c,
.nowPlayingColumn_c2739c,
.quickswitcher_f4e139,
.floating-window-content,
.monaco-editor,
.theme-dark .pageWrapper_a3a4ce,
.fullSizeInnerThemed_c69a7b,
.custom-profile-theme .biteSizeInnerThemed_c69a7b,
.pageWrapper_e77fa3,
.shopScroll_e77fa3,
.shop_e77fa3,
.darkCardBackground_c23530,
.scroller_ad8f79,
.theme-dark .themed_e44302,
.header_f1629a,
.applicationStore_cecc86,
.scroller_a8b566,
.sidebarRegionScroller_c25c6d,
.accountProfileCard_b69b77,
.inner_c69a7b.fullSize_c69a7b,
.upsellContainer_ad7baa {
    background-color: transparent !important;
    background: none !important;
    border-color: var(--Color6) !important;
}
input {
    font-family: var(--Font) !important;
}
.avatar_f9f2ca {
    width: var(--ChatImageSize) !important;
    height: var(--ChatImageSize) !important;
    opacity: var(--ChatImage) !important;
}
.avatarDecoration_f9f2ca {
    width: calc(var(--ChatImageSize) + 0.4rem) !important;
    height: calc(var(--ChatImageSize) + 0.4rem) !important;
    opacity: var(--ChatImage) !important;
}
.cozy_f9f2ca.wrapper_f9f2ca {
    padding-left: calc(var(--ChatImageSize) + 1.5rem) !important;
}
.emoji.jumboable {
     width: var(--EmojiSize) !important;
     height: var(--EmojiSize) !important;
}
.appMount_ea7e65 {
    background-color: var(--Color1) !important;
}
.wrapper_d880dc.minimum_d880dc,
.expandedFolderBackground_bc7085,
.inspector_c3120f,
.contentWrapper_af5dbb,
.textContainer_ad9cbd,
.footer_ad9cbd,
.themedBackground_d0696b,
.spoilerContent_a3d0f7,
.profileBadges_f89da9,
.userProfileInnerThemedNonPremium_c69a7b,
.note_c90ad7 textarea:focus,
.profilePanel_b433b4,
.userProfileInnerThemedWithBanner_c69a7b,
.messageInputContainer_f2c0a8,
.grid_ad0b71,
.searchBar_f0963d .searchBarComponent_f0963d,
.searchBar_a46bef,
.searchResultsWrap_c2b47d,
.searchHeader_b7c924,
.theme-dark .searchAnswer_b0fa94, .theme-dark .searchFilter_b0fa94,
.input_f4e139,
.floating-window-titlebar,
.floating-window #bd-editor-controls,
.monaco-editor .margin,
.theme-dark .card_eb1ca6:hover, .theme-dark .iconMask_eb1ca6:hover,
.inner_c18ec9,
.background_b69b77,
.fieldList_b69b77,
.themedBackground_bdf0de,
.footer_aa1bff,
.popoverReactionHoverBar_e986d9,
.footer_f8ec41,
.wrapper_cd82a7 {
    background-color: var(--Color2) !important;
}
.modeSelected_d8bfb3 .link_d8bfb3, .modeSelected_d8bfb3:hover .link_d8bfb3,
.menu_d90b3d,
.container_effbe2,
.wrapper_c6ee36,
.overlayBackground_c69a7b,
.theme-dark .tooltipPrimary_b6c360, .theme-light .tooltipPrimary_b6c360,
.container_eedf95,
.option_b0286e[aria-selected=true],
.monaco-editor-background,
.upload_df1eaf,
.root_f9a4c9,
.shopCard_c23530, .shopCardAnimation_c23530,
.tier0_c87d73,
.tier2_c87d73,
.biteSizeInnerThemed_c69a7b,
.autocomplete_bcc24e,
.inner_c69a7b.biteSize_c69a7b,
.upsellContainer_ad7baa,
.textContainer_d8e2d0,
.footer_d8e2d0 {
    background-color: var(--Color3) !important;
}
.biteSizeInnerThemed_c69a7b {
    background: var(--Color3) !important;
}
.container_adcaac,
.uploadDropModal_f82cc7 .inner_f82cc7,
.theme-dark .tabItemSelected_a18ec1,
.popoverReactionHoverBar_e986d9:hover,
.wrapper_cd82a7,
.shopCard_c23530,
.textContainer_d8e2d0,
.footer_d8e2d0 {
    border-color: var(--Color6) !important;
}
.theme-dark .panel_bf1a22,
.container_adcaac,
.container_b2ca13,
.footer_f8ec41 {
    border-top: 1px solid;
    border-color: var(--Color6) !important;
}
.platform-win .scroller_fea3ef, .platform-osx .scroller_fea3ef,
.platform-win .sidebar_a4d4d9 {
    border-right: 1px solid;
    border-color: var(--Color6) !important;
}
.userProfileInnerThemedNonPremium_c69a7b,
.note_c90ad7 textarea:focus,
.textarea_dde0a8,
.userProfileInnerThemedWithBanner_c69a7b,
.messageInputContainer_f2c0a8,
.searchBar_f0963d .searchBarComponent_f0963d,
.searchBar_a46bef,
.button_ddc613,
.input_f4e139,
.upload_df1eaf,
.root_f9a4c9,
.background_b69b77 {
    border: 1px solid;
    border-color: var(--Color6) !important;
}
.circleIconButton_db6521, 
.childWrapperNoHoverBg_f90abb,
.button_adcaac .buttonColor_adcaac, .button_adcaac.buttonColor_adcaac,
.button_ef319f,
.folder_bc7085,
.colorable_ef18ee.primaryDark_ef18ee,
.button_ccfa44,
.selected_f90abb .childWrapper_f90abb,
.lookFilled_dd4f85.colorBrand_dd4f85,
.lookFilled_dd4f85.colorPrimary_dd4f85,
.lookFilled_dd4f85.colorBrandInverted_dd4f85,
.button_df39bd {
    background-color: var(--Color7) !important;
}
.bd-switch-body {
    --switch-color: var(--Color7) !important;
}
.circleIconButton_db6521.selected_db6521,
.button_adcaac .buttonColor_adcaac:hover, .button_adcaac.buttonColor_adcaac:hover,
.button_ef319f:hover,
.navButtonActive_af5dbb:hover,
.navButtonActive_af5dbb,
.folder_bc7085:hover,
.colorable_ef18ee.primaryDark_ef18ee.active_ef18ee, .colorable_ef18ee.primaryDark_ef18ee:hover,
.colorable_ef18ee.white_ef18ee.active_ef18ee, .colorable_ef18ee.white_ef18ee:hover,
.colorable_ef18ee.white_ef18ee, .colorable_ef18ee.white_ef18ee .centerIcon_ef18ee,
.button_ccfa44:hover,
.button_ddc613:hover,
.childWrapper_f90abb:hover, .wrapper_f90abb:hover,
.lookFilled_dd4f85.colorBrand_dd4f85:hover,
.tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c:hover,
.topPill_a0 .themed_a0.selected_a0.item_a0, .side_a0 .themed_a0.selected_a0.item_a0,
.lookFilled_dd4f85.colorPrimary_dd4f85:hover,
.lookFilled_dd4f85.colorBrandInverted_dd4f85:hover,
.button_df39bd:hover {
    background-color: var(--Color8) !important;
}
.wrapper_bf1b19.wrapper_bf1b19 {
    color: var(--Color10) !important;
}
.colorDanger_d90b3d, .colorDanger_d90b3d .checkbox_d90b3d, .colorDanger_d90b3d .radioSelection_d90b3d {
    color: var(--Color11) !important;
}
.username_f9f2ca {
    color: var(--Color12);
}
.colorInfo_be03aa,
.userTagUsernameBase_c9ccf6,
.defaultColor_e9e35f,
.defaultColor_a595eb,
.customStatus_cb55fc,
.textarea_dde0a8,
.guildNameText_a6ae3c,
.theme-dark .tooltip_b6c360, .theme-light .tooltip_b6c360,
.input_f8bc55,
.searchOption_b0286e .filter_b0286e,
.option_b0286e:hover .filter_b0286e, .option_b0286e:hover .answer_b0286e,
.resultsGroup_b0286e .header_b0286e,
.option_b0286e.user_b0286e .displayedNick_b0286e,
.input_effbe2,
.medium_effbe2 .input_effbe2, .medium_effbe2 .tag_effbe2,
.contentDefault_f14193,
.themed_a0.item_a0:hover, .brand_a0.item_a0:hover,
.userTagUsername_c32acf,
.markup_d6076c,
.normal_dc00ef,
.input_c18ec9,
.input_f4e139,
.theme-dark .tabItemSelected_a18ec1,
.text-sm\/normal_dc00ef,
.display-md_dc00ef {
    color: var(--Color13) !important;
}
.bd-switch-handle {
    fill: var(--Color13);
}
.muteText_a6ae3c,
.itemizedListText_f005b2,
.searchOption_b0286e .answer_b0286e,
.option_b0286e.user_b0286e .displayUsername_b0286e,
.option_b0286e .filter_b0286e, .option_b0286e .answer_b0286e, .option_b0286e strong,
.friend_ebf869 .discordTag_ebf869,
body, textarea, input, button, select, ::placeholder,
.username_f14193,
.themed_a0.item_a0, .brand_a0.item_a0,
.text_dc9488,
.theme-dark .tabContainer_a18ec1 {
    color: var(--Color14) !important;
}
.colorDefault_d90b3d{
    color: var(--Color14);
}
.theme-dark.custom-theme-background, .custom-theme-background .theme-dark {
    --theme-base-color: var(--Color14);
    --theme-text-color: var(--Color14);
}
.item_fd07a3 {
    background: var(--Color18) !important;
}
.lookFilled_dd4f85.colorGreen_dd4f85,
.tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c {
    background-color: var(--Color19);
}
.bd-switch input:checked+.bd-switch-body {
    --switch-color: var(--Color19) !important;
}
.controlIcon_ef18ee,
.colorable_ef18ee.white_ef18ee, .colorable_ef18ee.white_ef18ee .centerIcon_ef18ee,
.activityIcon_a6ae3c,
.circleIconButton_db6521,
.buttonIcon_ccfa44,
.editIcon_c3e427,
.childWrapper_f90abb,
.resultsGroup_b0286e .searchLearnMore_b0286e, .resultsGroup_b0286e .searchClearHistory_b0286e,
.option_b0286e:hover .plusIcon_b0286e, .option_b0286e[aria-selected=true] .plusIcon_b0286e,
.button_dd4f85 .contents_dd4f85,
.lottieIcon_f73ef7 {
    color: var(--Icons) !important;
}
.popoutBanner_c3e427,
.panelBanner_c3e427,
.modalBanner_c3e427,
.biteSizeBanner_c3e427 {
    opacity: 0.7;
}
.form_a7d72e:before,
.mentioned_d5deea:before {
    background: none;
}
.tier0_c87d73,
.tier1_c87d73,
.tier2_c87d73{
    background-image: none !important;
}
.container_adcaac,
.activityPanel_a4d4d9 {
    border-bottom: none;
}
.theme-dark .tooltip_b6c360, .theme-light .tooltip_b6c360 {
    box-shadow: none;
}
.interactive_f5eb4b:hover, .interactive_f5eb4b:focus-within,
.wrapper_d8bfb3:hover .link_d8bfb3,
.colorDefault_d90b3d.focused_d90b3d,
.emojiItem_fbfedd.emojiItemSelected_fbfedd,
.colorInfo_be03aa,
.option_b0286e:hover,
.theme-dark .friendSelected_ebf869,
.result_f14193[aria-selected=true] {
    animation: 2s infinite ease-out Hover !important;
}
@keyframes Hover {
        0% { background-color: transparent; }
        15% { background-color: var(--HoverPulse);}
        85% { background-color: var(--HoverPulse);}
        100% { background-color: transparent; }
}
.mentioned_d5deea,
.bd-notice {
    animation: 0.8s infinite alternate ease-out MentionBackground;
}
@keyframes MentionBackground {
    from {
        background-color: transparent;
    }
    to {
        background-color: var(--Color20);
    }
}
