/**
 * @name         Customizable Theme
 * @description  Adjust Settings With Custom CSS. Transparency Must Be On To Work Properly. Check website for updates.
 * @author       kasquer
 * @version      2.1.7 |
 * @website      https://kazquer.github.io/
 */

:root {
  --font-display: var(--Font);
  --font-primary: var(--Font);
  --background-modifier-hover: var(--Color2);
  --background-modifier-selected: var(--Color2);
  --background-primary: var(--Color2);
  --background-tertiary: var(--Color2);
  --background-secondary-alt: var(--Color3);
  --background-accent: var(--Color3);
  --background-modifier-active: var(--Color3);
  --primary-400: var(--Color6);
  --background-tertiary: var(--Color7);
  --button-secondary-background: var(--Color7);
  --background-modifier-selected: var(--Color8);
  --text-link: var(--Color10);
  --embed-title: var(--Color10);
  --text-negative: var(--Color11) !important;
  --status-negative: var(--Color11);
  --status-danger: var(--Color11);
  --button-danger-background: var(--Color11);
  --text-normal: var(--Color13) !important; /*Chat Text*/
  --interactive-active: var(--Color13);
  --interactive-hover: var(--Color13) !important;
  --header-primary: var(--Color13) !important;
  --white-500: var(--Color13) !important;
  --text-positive: var(--Color13) !important;
  --interactive-normal: var(--Color14) !important;
  --text-muted: var(--Color14); /*Muted Text*/
  --channels-default: var(--Color14); /*Channel Text*/
  --header-secondary: var(--Color14);
  --channel-text-area-placeholder: var(--Color14);
  --status-positive: var(--Color19);
  --button-positive-background: var(--Color19);
  --__lottieIconColor: var(--Icons) !important;
  --channel-icon: var(--Icons);
  --background-secondary: var(--Color2);
  --channeltextarea-background: rgba(0, 0, 0, 0);
  --background-tertiary: rgba(0, 0, 0, 0);
  --background-secondary-alt: var(--Color2);
  --background-primary: var(--Color2);
  --button-filled-brand-background-hover: var(--Color8);
  --input-background: var(--Color2);
  --mention-foreground: var(--Color10);
  --interactive-active: var(--Color13) !important;
  --background-modifier-selected: var(--Color17) !important;
  --header-secondary: var(--Color14) !important;
  --button-outline-danger-background-hover: var(--Color8) !important;
  --button-outline-danger-background: var(--Color11) !important;
  --button-outline-danger-border-hover: var(--Color11) !important;
  --button-outline-danger-border: var(--Color6) !important;
  --button-outline-danger-text: var(--Color13) !important;
  --button-outline-danger-text-hover: var(--Color11) !important;
  --input-border: var(--Color6) !important;
  --scrollbar-auto-thumb: var(--Color9) !important;
  --scrollbar-auto-track: var(--Color2) !important;
  --scrollbar-auto-scrollbar-color-thumb: var(--Color9) !important;
  --scrollbar-auto-scrollbar-color-track: var(--Color2) !important;
  --scrollbar-thin-thumb: var(--Color9) !important;
  --scrollbar-thin-track: var(--Color2) !important;
  --header-primary: var(--Color13) !important;
  --primary-330: var(--Color13) !important;
  --primary-230: var(--Color13) !important;
  --primary-130: var(--Color13) !important;
  --white: var(--Color13) !important;
  --white-500: var(--Color13) !important;
  --brand-500: var(--Color14) !important;
  --bg-brand: var(--Color7) !important;
  }
@import url("https://kazquer.github.io/GlobalTheme.theme.css");
body,.hljs,.member_a31c43,.wrapper_bf1b19,.theme-dark .panel_bf1a22,.theme-dark,.userProfileInnerThemedWithBanner_c69a7b,.userPanelInnerThemed_c69a7b,.userProfileInner_c69a7b:before,.root_f9a4c9,.wrapper_cdfd51,.cozy_b211c6.wrapper_b211c6,.backdrop_e4f2ae,.container_b558d0>*,.footer_f9a4c9,.userProfileInnerThemedNonPremium_c69a7b,.option_b0286e:hover:after,.option_b0286e:after,.container_c2739c,.nowPlayingColumn_c2739c,.quickswitcher_f4e139,.floating-window-content,.monaco-editor,.theme-dark .pageWrapper_a3a4ce,.fullSizeInnerThemed_c69a7b,.custom-profile-theme .biteSizeInnerThemed_c69a7b,.pageWrapper_e77fa3,.shopScroll_e77fa3,.shop_e77fa3,.darkCardBackground_c23530,.scroller_ad8f79,.theme-dark .themed_e44302,.header_f1629a,.applicationStore_cecc86,.scroller_a8b566,.sidebarRegionScroller_c25c6d,.accountProfileCard_b69b77,.inner_c69a7b.fullSize_c69a7b,.upsellContainer_ad7baa,.contentRegionScroller_c25c6d,.contentRegion_c25c6d,.lookFilled_dd4f85.colorGreen_dd4f85, .tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c,.container_e462a4,.navItem_e462a4,.rewardDescriptionContainer_c2d7e2,.textOverflowBlur_c2d7e2,.replyBar_b11c5e, .threadSuggestionBar_b11c5e,.bd-modal-footer,.privateChannels__35e86,.sidebar_c48ade,.panels_c48ade,.chatContent_f75fb0,.standardSidebarView__23e6b,.sidebarRegionScroller__23e6b,.contentRegion__23e6b,.layer__960e4,.contentRegionScroller__23e6b,.premiumFeatureBorder__65c15,.wrapper__14245,.wrapper__4e6ce,.inspector_aeaaeb,.container_fed6d3,.header_fed6d3,.container__133bf,.nowPlayingColumn__133bf, .container__7d20c,.scroller__4a84a,.scroller_fb04e1,.scroller_c880e8,.applicationStore_f07d62,.shop__6db1d, .shopScroll__6db1d, .shop__08415,.theme-dark .container__2637a,.members_c8ffbb,.bd-modal .footer,.replyBar__841c8, .stackedBars__74017,.container_e131a9,.theme-dark .panel__5dec7,.footer__49fc1,.custom-profile-theme .inner_c0bea0,.theme-dark .scroller__99e7c, .chat_f75fb0,.theme-dark .children__9293f:after,.focused__55c99,.queryContainer__55c99,.container__0f711,.guildSection_d5cd2d,.inner_c0bea0.biteSize_c0bea0, .inner_c0bea0.fullSize_c0bea0, .wrapper_f61d60, .fieldList__1fed1,.theme-dark .container__37e49,.container__91a9d,.theme-dark .container_a8e786:not(.playing_a8e786) .playButtonContainer_a8e786,.theme-dark .container_a8e786:not(.playing_a8e786) .playButtonContainer_a8e786:hover
{
    background-color: transparent !important;
    background: none !important;
    border-color: var(--Color6) !important;
}
input {
    font-family: var(--Font) !important;
}
.avatar_c19a55.clickable_c19a55 {
    width: var(--ChatImageSize) !important;
    height: var(--ChatImageSize) !important;
    opacity: var(--ChatImage) !important;
}
.avatarDecoration_c19a55 {
    width: calc(var(--ChatImageSize) + 0.4rem) !important;
    height: calc(var(--ChatImageSize) + 0.4rem) !important;
    opacity: var(--ChatImage) !important;
}
.wrapper_c19a55 {
    padding-left: calc(var(--ChatImageSize) + 1.5rem) !important;
}
.emoji.jumboable {
     width: var(--EmojiSize) !important;
     height: var(--EmojiSize) !important;
}
body {
    background-image: var(--BackgroundImage) !important;
    background-size: cover !important;
    background-position: center !important;
}
.appMount_ea7e65,.appMount__51fd7{
    background-color: var(--Color1) !important;
}
.wrapper_d880dc.minimum_d880dc,.expandedFolderBackground_bc7085,.inspector_c3120f,.contentWrapper_af5dbb,.textContainer_ad9cbd,.footer_ad9cbd,.themedBackground_d0696b,.spoilerContent_a3d0f7,.profileBadges_f89da9,.userProfileInnerThemedNonPremium_c69a7b,.note_c90ad7 textarea:focus,.profilePanel_b433b4,.userProfileInnerThemedWithBanner_c69a7b,.messageInputContainer_f2c0a8,.grid_ad0b71,.searchBar_f0963d .searchBarComponent_f0963d,.searchBar_a46bef,.searchResultsWrap_c2b47d,.searchHeader_b7c924,.theme-dark .searchAnswer_b0fa94, .theme-dark .searchFilter_b0fa94,.input_f4e139,.floating-window-titlebar,.floating-window #bd-editor-controls,.monaco-editor .margin,.theme-dark .card_eb1ca6:hover, .theme-dark .iconMask_eb1ca6:hover,.inner_c18ec9,.background_b69b77,.fieldList_b69b77,.themedBackground_bdf0de,.footer_aa1bff,.popoverReactionHoverBar_e986d9,.footer_f8ec41,.wrapper_cd82a7,.bd-addon-list .bd-addon-card,.banner.banner-danger,.textContainer_d8e2d0,.footer_d8e2d0,.container_a97111,.footer_d71945,.stackedBars_bdf0de,.channelTextArea_f75fb0,.premiumFeatureBorder__65c15,.container_a45028,.popoverReactionHoverBar_f84418,html:not(.visual-refresh-chat-input) .inner_a99829,.shopCardDark_c3d04b,.lookFilled__201d5.colorWhite__201d5,.search__97492,.container_cb32c7,.markup__75297 .codeContainer__75297,.wrapper_cb9592.minimum_cb9592,.messageGroupWrapper__45690,.embedFull__623de,.containerBackground_d4ced7,.channelTextArea__74017,.wrapper_cb9592,.searchBar__35e86 .searchBarComponent__35e86,.outer_bf1984,:where(.overlay_c0bea0),.channelHeader__35a7e,.messages__1ccd1,.friendRequestsButton__523aa,.container__8061a,.note_fcb628 textarea:focus, .panels_c48ade,.inner_c0bea0.panel_c0bea0, .itemsContainer_ef3116,.searchBar__35e86
,.scroller__7d20c,.container_c8ffbb,.header_f37cb1,.theme-dark .themed__9293f{
    background-color: var(--Color2) !important;
}
.modeSelected_d8bfb3 .link_d8bfb3, .modeSelected_d8bfb3:hover .link_d8bfb3,.menu_d90b3d,.container_effbe2,.wrapper_c6ee36,.overlayBackground_c69a7b,.theme-dark .tooltipPrimary_b6c360, .theme-light .tooltipPrimary_b6c360,.container_eedf95,.option_b0286e[aria-selected=true],.monaco-editor-background,.upload_df1eaf,.root_f9a4c9,.shopCard_c23530, .shopCardAnimation_c23530,.tier0_c87d73,.tier2_c87d73,.biteSizeInnerThemed_c69a7b,.autocomplete_bcc24e,.inner_c69a7b.biteSize_c69a7b,.upsellContainer_ad7baa,.backdrop_accde0,.bar_c7a159,.bd-modal-root,.attachment_b52bef,.menu_c1e9c4,.contentWrapper__08434,.inner_c0bea0.biteSize_c0bea0,.wrapper_f7ecac,.container__55c99,.bd-modal-inner,.autocomplete__13533,.contentWrapper__9c62c,.skuSelectModalHeader_e50a4d, .skuSelectModalContent_e50a4d,.messagesPopoutWrap__45690,.tooltipPrimary__382e7,.toolbar_bba883,.header_c0e32c,.emojiPicker_c0e32c,.quickswitcher_ac6cb0,.container__2692d,.container_fc561d,.popoutContainer__0f481, .root__49fc1, .accountProfileCard__1fed1,.floating-window.resizable,.typeWindows__421ed,.uploadDropModal_dbca3c .bgScale_dbca3c,.container_a8e786,.popoutContentWrapper_af3b89,.interactionsContainer_af3b89
{
    background-color: var(--Color3) !important;
}
.biteSizeInnerThemed_c69a7b {
    background: var(--Color3) !important;
}
.theme-dark .tooltip_b6c360, .theme-light .tooltip_b6c360,.searchBar__35e86,.content_f75fb0:before
{
    box-shadow: none !important;
}
.panels_c48ade, .searchBar__35e86, .header_f37cb1 {
    box-shadow: 0 0 0.5rem 0.2rem var(--Color4) !important;
}
.app__160d8 button,body
{
    text-shadow: 1px 1px 1px var(--Color5),
    -1px 1px 1px var(--Color5),
    1px -1px 1px var(--Color5),
    -1px -1px 1px var(--Color5);
}
.container_adcaac,.uploadDropModal_f82cc7 .inner_f82cc7,.theme-dark .tabItemSelected_a18ec1,.popoverReactionHoverBar_e986d9:hover,.wrapper_cd82a7,.shopCard_c23530,.textContainer_d8e2d0,.footer_d8e2d0,.banner.banner-danger,.container_aef5fd,.attachment_b52bef,.popoverReactionHoverBar_f84418,.toolbar_bba883,.quickswitcher_ac6cb0,.embedFull__623de,.container__8061a,.note_fcb628 textarea:focus,.interactionsContainerHeader_af3b89
{
    border-color: var(--Color6) !important;
}
.divider__9293f {
    background-color: var(--Color6) !important;
}
.theme-dark .panel_bf1a22,.container_adcaac,.container_b2ca13,.footer_f8ec41,.bd-modal-footer,.bd-modal .footer,.panels_c48ade,.privateChannelsHeaderContainer__99e7c,.formWithLoadedChatInput_f75fb0,.guildSection_d5cd2d
{
    border-top: 1px solid;
    border-color: var(--Color6) !important;
}
.replyBar_b11c5e, .threadSuggestionBar_b11c5e,.searchBar__35e86,.typeWindows__421ed,.subtitleContainer_f75fb0,.header_f37cb1,.floating-window-titlebar
{
    border-bottom: 1px solid;
    border-color: var(--Color6) !important;
}
.platform-win .scroller_fea3ef, .platform-osx .scroller_fea3ef,.platform-win .sidebar_a4d4d9,.peopleColumn__133bf,.itemsContainer_ef3116,.theme-dark .children__9293f:after
{
    border-right: 1px solid;
    border-color: var(--Color6) !important;
}
.content_f75fb0,.inner_c0bea0.panel_c0bea0,.peopleColumn__133bf, .scroller__4a84a, .scroller_c880e8,.theme-dark .themed__9293f
{
    border-left: 1px solid;
    border-color: var(--Color6) !important;
}
.userProfileInnerThemedNonPremium_c69a7b,.note_c90ad7 textarea:focus,.textarea_dde0a8,.userProfileInnerThemedWithBanner_c69a7b,.messageInputContainer_f2c0a8,.searchBar_f0963d .searchBarComponent_f0963d,.searchBar_a46bef,.button_ddc613,.input_f4e139,.upload_df1eaf,.root_f9a4c9,.background_b69b77,.bd-addon-list .bd-addon-card,.navItem_e462a4,.channelTextArea_f75fb0,.container_a45028,.wrapper__14245,.wrapper__4e6ce,.inspector_aeaaeb,html:not(.visual-refresh-chat-input) .inner_a99829,.search__97492,.container_cb32c7,.markup__75297 .codeContainer__75297,.searchBar__35e86 .searchBarComponent__35e86,.outer_bf1984,.input_ac6cb0,.channelHeader__35a7e,.messages__1ccd1,.friendRequestsButton__523aa,.stickerInspected_c6367b .inspectedIndicator_c6367b, .guildDetails__4cb8a
{
    border: 1px solid;
    border-color: var(--Color6) !important;
}
.bd-notice-button,.lookFilled__201d5.colorWhite__201d5 
{
    border: 2px solid;
    border-color: var(--Color6) !important;
}
.lookOutlined__201d5.colorWhite__201d5
{
    border: none;
}
.circleIconButton_db6521, .childWrapperNoHoverBg_f90abb,.button_adcaac .buttonColor_adcaac, .button_adcaac.buttonColor_adcaac,.button_ef319f,.folder_bc7085,.colorable_ef18ee.primaryDark_ef18ee,.button_ccfa44,.selected_f90abb .childWrapper_f90abb,.lookFilled_dd4f85.colorBrand_dd4f85,.lookFilled_dd4f85.colorPrimary_dd4f85,.lookFilled_dd4f85.colorBrandInverted_dd4f85,.button_df39bd,.container_aef5fd,.bd-button-filled.bd-button-color-brand,.reaction_ec6b19m.lookFilled__201d5.colorPrimary__201d5,.lookLink__201d5.colorPrimary__201d5,.lookFilled__201d5.colorPrimary__201d5,.lookFilled__201d5.colorBrandInverted__201d5,.lookOutlined__201d5.colorWhite__201d5,.bd-modal .footer .bd-button,.jumpButton__45690,.lookFilled__201d5.colorBrand__201d5,.tertiary__06eda,.button_f563df,.theme-dark .container_a8e786:not(.playing_a8e786) .playButtonContainer_a8e786,.playing_a8e786 .playButtonContainer_a8e786,.colorable_f1ceac.white_f1ceac
{
    background-color: var(--Color7) !important;
}
.bd-switch-body {
    --switch-color: var(--Color7) !important;
}
.circleIconButton_db6521.selected_db6521,.button_adcaac .buttonColor_adcaac:hover, .button_adcaac.buttonColor_adcaac:hover,.button_ef319f:hover,.navButtonActive_af5dbb:hover,.navButtonActive_af5dbb,.folder_bc7085:hover,.colorable_ef18ee.primaryDark_ef18ee.active_ef18ee, .colorable_ef18ee.primaryDark_ef18ee:hover,.colorable_ef18ee.white_ef18ee.active_ef18ee, .colorable_ef18ee.white_ef18ee:hover,.colorable_ef18ee.white_ef18ee, .colorable_ef18ee.white_ef18ee .centerIcon_ef18ee,.button_ccfa44:hover,.button_ddc613:hover,.childWrapper_f90abb:hover, .wrapper_f90abb:hover,.lookFilled_dd4f85.colorBrand_dd4f85:hover,.tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c:hover,.topPill_a0 .themed_a0.selected_a0.item_a0, .side_a0 .themed_a0.selected_a0.item_a0,.lookFilled_dd4f85.colorPrimary_dd4f85:hover,.lookFilled_dd4f85.colorBrandInverted_dd4f85:hover,.button_df39bd:hover,.container_aef5fd:hover,.navItem_e462a4.selected_e462a4,.navItem_e462a4:active,.bd-button-filled.bd-button-color-brand:hover,.reaction_ec6b19:hover,.lookFilled__201d5.colorPrimary__201d5:hover,.lookLink__201d5.colorPrimary__201d5:hover,.lookFilled__201d5.colorPrimary__201d5:hover,.lookFilled__201d5.colorBrandInverted__201d5:hover,.lookOutlined__201d5.colorWhite__201d5:hover,.bd-modal .footer .bd-button:hover,.jumpButton__45690:hover,.tertiary__06eda:hover,.lookFilled__201d5.colorBrand__201d5:hover,.lookFilled__201d5.colorRed__201d5:hover,.button_f563df:hover,.theme-dark .container_a8e786:not(.playing_a8e786) .playButtonContainer_a8e786:hover,.playing_a8e786 .playButtonContainer_a8e786:hover,.colorable_f1ceac.white_f1ceac:hover
{
    background-color: var(--Color8) !important;
}
.wrapper_bf1b19.wrapper_bf1b19,.bd-addon-list .bd-footer .bd-link,.markup__75297 a
{
    color: var(--Color10) !important;
}
.colorDanger_d90b3d, .colorDanger_d90b3d .checkbox_d90b3d, .colorDanger_d90b3d .radioSelection_d90b3d,.banner.banner-danger
{
    color: var(--Color11) !important;
}
.lookFilled__201d5.colorRed__201d5 {
    border: 1px solid;
    border-color: var(--Color11) !important;
}
.colorDanger_c1e9c4 {
    color: var(--Color11) !important;
}
.username_f9f2ca,
.username_c19a55 {
    color: var(--Color12);
}
.colorInfo_be03aa,.userTagUsernameBase_c9ccf6,.defaultColor_e9e35f,.defaultColor_a595eb,.customStatus_cb55fc,.textarea_dde0a8,.guildNameText_a6ae3c,.theme-dark .tooltip_b6c360, .theme-light .tooltip_b6c360,.input_f8bc55,.searchOption_b0286e .filter_b0286e,.option_b0286e:hover .filter_b0286e, .option_b0286e:hover .answer_b0286e,.resultsGroup_b0286e .header_b0286e,.option_b0286e.user_b0286e .displayedNick_b0286e,.input_effbe2,.medium_effbe2 .input_effbe2, .medium_effbe2 .tag_effbe2,.contentDefault_f14193,.themed_a0.item_a0:hover, .brand_a0.item_a0:hover,.userTagUsername_c32acf,.markup_d6076c,.normal_dc00ef,.input_c18ec9,.input_f4e139,.theme-dark .tabItemSelected_a18ec1,.text-sm\/normal_dc00ef,.display-md_dc00ef,.bd-notice,.lookOutlined__201d5.colorWhite__201d5,.lookFilled__201d5.colorWhite__201d5,.bd-modal .title, .bd-modal-body,.bd-modal .footer .bd-button,.input_ac6cb0, .input_a45028,.base__2b1f5, .text-md\/semibold_cf4812, .text-sm\/normal_cf4812, .guildTitle_d5cd2d, .text-xs\/normal_cf4812,.custom-profile-theme .themeColor_fb7f94.primary_fb7f94,.lookFilled__201d5 .contents__201d5, .lookLink__201d5 .contents__201d5, .lookOutlined__201d5 .contents__201d5, .wrapper_f61d60:hover,.header_b3f026,.floating-window-titlebar .title,.text-sm\/medium_cf4812, .heading-md\/medium_cf4812, .text-md\/normal_cf4812, .buttonText__29199,.container__13cf1,.closeButton_c2b141, .keybind_c2b141,.barButtonBase__0f481
{
    color: var(--Color13) !important;
}
.colorDefault_c1e9c4 {
    color: var(--Color13);    
}
.markup__75297 {
    color: var(--Color13);
}
.bd-switch-handle {
    fill: var(--Color13);
}
.muteText_a6ae3c,.itemizedListText_f005b2,.searchOption_b0286e .answer_b0286e,.option_b0286e.user_b0286e .displayUsername_b0286e,.option_b0286e .filter_b0286e, .option_b0286e .answer_b0286e, .option_b0286e strong,.friend_ebf869 .discordTag_ebf869,body, textarea, input, button, select, ::placeholder,.username_f14193,.themed_a0.item_a0, .brand_a0.item_a0,.text_dc9488,.theme-dark .tabContainer_a18ec1,.metadata_b52bef,.lookFilled__201d5.colorPrimary__201d5,.lookFilled__201d5.colorWhite__201d5:hover,.repliedMessage_c19a55,.searchBar__35e86 .searchBarComponent__35e86
{
    color: var(--Color14) !important;
}
.colorDefault_d90b3d{
    color: var(--Color14);
}
.theme-dark.custom-theme-background, .custom-theme-background .theme-dark {
    --theme-base-color: var(--Color14);
    --theme-text-color: var(--Color14);
}
.clickable__13533[aria-disabled='false'] > .base__13533:hover {
    background-color: var(--Color15);
}
.interactiveSelected__972a0 {
            background: var(--Color17) !important;
}
.top_b3f026 .brand_b3f026.item_b3f026:active, .top_b3f026 .brand_b3f026.selected_b3f026.item_b3f026 {
        border-color: var(--Color17) !important;
}
.item__58105,.mentioned__5126c:before,.unread__6fddf,.ripple_a8e786,.newMessagesBar__0f481 {
    background: var(--Color18) !important;
}
.isUnread__908e2, .custom-theme-background .isUnread__908e2 {
    border-color: var(--Color18) !important;
}
.divider__908e2 {
    --divider-color: var(--Color18) !important;
}
.xenoLib-notification-loadbar,.fontSize16Padding__74017 {
    background-image: linear-gradient(90deg, var(--Color3), var(--Color18));
}
.lookFilled_dd4f85.colorGreen_dd4f85,.tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c
{
    background-color: var(--Color19);
}
.bd-switch input:checked+.bd-switch-body {
    --switch-color: var(--Color19) !important;
}
.flash__03436[data-flash='true'] {
    background-color: var(--Color20);
}
.controlIcon_ef18ee,.colorable_ef18ee.white_ef18ee, .colorable_ef18ee.white_ef18ee .centerIcon_ef18ee,.activityIcon_a6ae3c,.circleIconButton_db6521,.buttonIcon_ccfa44,.editIcon_c3e427,.childWrapper_f90abb,.resultsGroup_b0286e .searchLearnMore_b0286e, .resultsGroup_b0286e .searchClearHistory_b0286e,.option_b0286e:hover .plusIcon_b0286e, .option_b0286e[aria-selected=true] .plusIcon_b0286e,.button_dd4f85 .contents_dd4f85,.lottieIcon_f73ef7,.clickable_fc4f04 .icon_fc4f04,.barFill_c7a159,.clickable__9293f .icon__9293f,.linkButtonIcon__972a0,.tertiary__06eda,.friendRequestsButton__523aa,.discoveryIcon_ef3116,.wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8, .wrapper__6e9f8:hover .childWrapper__6e9f8,#bd-editor-controls button,.button__201d5 .contents__201d5,.colorable_f1ceac.white_f1ceac, .colorable_f1ceac.white_f1ceac .centerIcon_f1ceac,.colorable_f1ceac.primaryDark_f1ceac, .colorable_f1ceac.primaryDark_f1ceac .centerIcon_f1ceac
{
    color: var(--Icons) !important;
}
.attachButtonPlus__0923f {
    fill: var(--Icons) !important;
}
.icon_aef5fd {
    background-color: var(--Icons) !important;
}
.sidebarRegion__23e6b {
    background-image: url("https://i.postimg.cc/9XpWVS5Q/2025-02-01-1.png") !important;
    background-size: 175px !important;
    background-position: bottom left 4rem !important;
    background-repeat:no-repeat;
}
.popoutBanner_c3e427,.panelBanner_c3e427,.modalBanner_c3e427,.biteSizeBanner_c3e427,#bd-editor-controls button:hover
{
    opacity: 0.7;
}
.ripple_a8e786{
    opacity: 0.5;
}
.form_a7d72e:before,.mentioned_d5deea:before 
{
    background: none;
}
.tier0_c87d73,.tier1_c87d73,.tier2_c87d73
{
    background-image: none !important;
}
.withFrame__421ed{
    margin-top: 0rem;
    padding-top: 0.3rem;
}
.upsellRowContent__5997d,.upsellDefaultContent__5997d {
	margin: -30rem !important;
}
.container_adcaac,
.activityPanel_a4d4d9 {
    border-bottom: none;
}
.scroller__36d07 {
    margin-bottom: 0.5rem;
}
.scrollerSpacer__36d07 {
    height: 1rem;
}
.backdrop__78332.withLayer__78332 {
    background: var(--Color3) !important;
    backdrop-filter: none !important;
}
.interactive_f5eb4b:hover, .interactive_f5eb4b:focus-within,.wrapper_d8bfb3:hover .link_d8bfb3,.colorDefault_d90b3d.focused_d90b3d,.emojiItem_fbfedd.emojiItemSelected_fbfedd,.colorInfo_be03aa,.option_b0286e:hover,.theme-dark .friendSelected_ebf869,.result_f14193[aria-selected=true],.clickable__13533[aria-disabled='false'] > .base__13533:hover,.interactive_bf202d:hover, .interactive_bf202d:focus-within,.clickable__13533[aria-selected='true'] > .base__13533,.button_bba883:hover,.emojiItem_fc7141.emojiItemSelected_fc7141,.result__71961[aria-selected=true],.stickerInspected_c6367b .inspectedIndicator_c6367b, .colorDefault_c1e9c4.focused_c1e9c4, .side_b3f026 .themed_b3f026.item_b3f026:hover:not(.disabled_b3f026), .topPill_b3f026 .themed_b3f026.item_b3f026:hover:not(.disabled_b3f026),.option__56fec:hover,.clickable__91a9d:hover .layout__91a9d
{
    animation: 2s infinite ease-out Hover !important;
}
@keyframes Hover {
        0% { background-color: transparent; }
        15% { background-color: var(--HoverPulse);}
        85% { background-color: var(--HoverPulse);}
        100% { background-color: transparent; }
}
.mentioned_d5deea,.bd-notice,.mentioned__5126c
{
    animation: 0.8s infinite alternate ease-out MentionBackground;
}
@keyframes MentionBackground {
    from {
        background-color: transparent;
    }
    to {
        background-color: var(--Color20);
    }
}
